In [64]:
import pandas as pd

In [65]:
print('Hi, new project, ESG')

Hi, new project, ESG

In [66]:
# Step 1: Load your Excel file
file_path = 'ESGEXCEL.xlsx'  # Replace with your file path
df = pd.read_excel(file_path)

In [67]:
df.shape

(16969, 68)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16969 entries, 0 to 16968
Data columns (total 68 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    16969 non-null  object
 1   Country Code    16969 non-null  object
 2   Indicator Name  16969 non-null  object
 3   Indicator Code  16969 non-null  object
 4   1960            1623 non-null   float64
 5   1961            2156 non-null   float64
 6   1962            2165 non-null   float64
 7   1963            2170 non-null   float64
 8   1964            2175 non-null   float64
 9   1965            2212 non-null   float64
 10  1966            2213 non-null   float64
 11  1967            2221 non-null   float64
 12  1968            2232 non-null   float64
 13  1969            2240 non-null   float64
 14  1970            3423 non-null   float64
 15  1971            3931 non-null   float64
 16  1972            3931 non-null   float64
 17  1973            3931 non-null   float64
 18  1974            3937 non-null   float64
 19  1975            4315 non-null   float64
 20  1976            4274 non-null   float64
 21  1977            4278 non-null   float64
 22  1978            4286 non-null   float64
 23  1979            4300 non-null   float64
 24  1980            4608 non-null   float64
 25  1981            4623 non-null   float64
 26  1982            4559 non-null   float64
 27  1983            4565 non-null   float64
 28  1984            4601 non-null   float64
 29  1985            4698 non-null   float64
 30  1986            4688 non-null   float64
 31  1987            4749 non-null   float64
 32  1988            4738 non-null   float64
 33  1989            4785 non-null   float64
 34  1990            7138 non-null   float64
 35  1991            7490 non-null   float64
 36  1992            7655 non-null   float64
 37  1993            7742 non-null   float64
 38  1994            7794 non-null   float64
 39  1995            8123 non-null   float64
 40  1996            9300 non-null   float64
 41  1997            8365 non-null   float64
 42  1998            9563 non-null   float64
 43  1999            8556 non-null   float64
 44  2000            11430 non-null  float64
 45  2001            9996 non-null   float64
 46  2002            11362 non-null  float64
 47  2003            11371 non-null  float64
 48  2004            11542 non-null  float64
 49  2005            11890 non-null  float64
 50  2006            11664 non-null  float64
 51  2007            11849 non-null  float64
 52  2008            11808 non-null  float64
 53  2009            11820 non-null  float64
 54  2010            12346 non-null  float64
 55  2011            12127 non-null  float64
 56  2012            12239 non-null  float64
 57  2013            12412 non-null  float64
 58  2014            12509 non-null  float64
 59  2015            12390 non-null  float64
 60  2016            11783 non-null  float64
 61  2017            11577 non-null  float64
 62  2018            11710 non-null  float64
 63  2019            11440 non-null  float64
 64  2020            10731 non-null  float64
 65  2021            7215 non-null   float64
 66  2022            3640 non-null   float64
 67  2023            453 non-null    float64
dtypes: float64(64), object(4)
memory usage: 8.8+ MB

In [69]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023'],
      dtype='object')

In [70]:
#I would like to remove some years because I do not really need them
df1=df[['Country Name', 'Indicator Name', 'Indicator Code',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023']]

In [71]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16969 entries, 0 to 16968
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    16969 non-null  object
 1   Indicator Name  16969 non-null  object
 2   Indicator Code  16969 non-null  object
 3   1998            9563 non-null   float64
 4   1999            8556 non-null   float64
 5   2000            11430 non-null  float64
 6   2001            9996 non-null   float64
 7   2002            11362 non-null  float64
 8   2003            11371 non-null  float64
 9   2004            11542 non-null  float64
 10  2005            11890 non-null  float64
 11  2006            11664 non-null  float64
 12  2007            11849 non-null  float64
 13  2008            11808 non-null  float64
 14  2009            11820 non-null  float64
 15  2010            12346 non-null  float64
 16  2011            12127 non-null  float64
 17  2012            12239 non-null  float64
 18  2013            12412 non-null  float64
 19  2014            12509 non-null  float64
 20  2015            12390 non-null  float64
 21  2016            11783 non-null  float64
 22  2017            11577 non-null  float64
 23  2018            11710 non-null  float64
 24  2019            11440 non-null  float64
 25  2020            10731 non-null  float64
 26  2021            7215 non-null   float64
 27  2022            3640 non-null   float64
 28  2023            453 non-null    float64
dtypes: float64(26), object(3)
memory usage: 3.8+ MB

In [72]:
# Step 2: Reshape from wide to long format
# 'Country Name', 'Country Code', 'Indicator Name', 'Indicator Code' will remain as they are
# Years (e.g., 1960-2023) will be unpivoted into a single column

# Using pd.melt() to unpivot the year columns
df_long = pd.melt(df1, id_vars=['Country Name', 'Indicator Name', 'Indicator Code'], 
                  var_name='Year', value_name='Value')

In [73]:
df_long.shape

(441194, 5)

In [74]:
df_long.tail(5)

,Country Name,Indicator Name,Indicator Code,Year,Value
441189,Zimbabwe,Terrestrial and marine protected areas (% of t...,ER.PTD.TOTL.ZS,2023,NaN
441190,Zimbabwe,Tree Cover Loss (hectares),AG.LND.FRLS.HA,2023,NaN
441191,Zimbabwe,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,2023,9.116
441192,Zimbabwe,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,2023,NaN
441193,Zimbabwe,Voice and Accountability: Estimate,VA.EST,2023,NaN

In [75]:
# Display all unique values in a specific column
column_name = 'Country Name'  # Replace with your specific column name
unique_values = df_long[column_name].unique()

# Convert unique values to a list and print
unique_values_list = unique_values.tolist()
print(unique_values_list)

['Arab World', 'Caribbean small states', 'Central Europe and the Baltics', 'Early-demographic dividend', 'East Asia & Pacific', 'East Asia & Pacific (excluding high income)', 'East Asia & Pacific (IDA & IBRD)', 'Euro area', 'Europe & Central Asia', 'Europe & Central Asia (excluding high income)', 'Europe & Central Asia (IDA & IBRD)', 'European Union', 'Fragile and conflict affected situations', 'Heavily indebted poor countries (HIPC)', 'High income', 'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total', 'Late-demographic dividend', 'Latin America & Caribbean', 'Latin America & Caribbean (excluding high income)', 'Latin America & Caribbean (IDA & IBRD)', 'Least developed countries: UN classification', 'Low & middle income', 'Low income', 'Lower middle income', 'Middle East & North Africa', 'Middle East & North Africa (excluding high income)', 'Middle East & North Africa (IDA & IBRD)', 'Middle income', 'North America', 'OECD members', 'Other small states', 'Pacific island small states', 'Post-demographic dividend', 'Pre-demographic dividend', 'Small states', 'South Asia', 'South Asia (IDA & IBRD)', 'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa (IDA & IBRD)', 'Upper middle income', 'World', 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Viet Nam', 'Yemen, Rep.', 'Zambia', 'Zimbabwe']

In [81]:
# List of generalized countries
generalized_countries = [
    'Arab World', 'Caribbean small states', 'Central Europe and the Baltics',
    'Early-demographic dividend', 'East Asia & Pacific', 'Euro area',
    'European Union', 'Fragile and conflict affected situations',
    'Heavily indebted poor countries (HIPC)', 'High income',
    'IDA & IBRD total', 'Least developed countries: UN classification',
    'Low & middle income', 'Middle East & North Africa',
    'North America', 'OECD members', 'Other small states',
    'Post-demographic dividend', 'Pre-demographic dividend',
    'Small states', 'South Asia', 'Upper middle income', 'World'
]

# Filter the DataFrame to keep only generalized countries
generalized_df = df_long[df_long['Country Name'].isin(generalized_countries)]

# Save the generalized countries to a new CSV file
generalized_df.to_excel('generalized_countries.xlsx', index=False)

# Optionally, remove generalized countries from the original DataFrame
df_filtered = df_long[~df_long['Country Name'].isin(generalized_countries)]

# Show the shape of the filtered DataFrame
print("Filtered DataFrame shape:", df_filtered.shape)

Filtered DataFrame shape: (398736, 5)

In [76]:
#I dont need the generalized names in this column but just the countries
# List of recognized country names (You can use a more comprehensive list if needed)
recognized_countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 
    'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 
    'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 
    'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 
    'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 
    'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 
    'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 
    'Cameroon', 'Canada', 'Central African Republic', 'Chad', 
    'Chile', 'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 
    'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 
    'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 
    'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 
    'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 
    'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 
    'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 
    'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 
    'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 
    'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 
    'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 
    'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Dem. People's Rep.", 
    'Korea, Rep.', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 
    'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 
    'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 
    'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 
    'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 
    'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia', 
    'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 
    'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 
    'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 
    'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 
    'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 
    'Romania', 'Russian Federation', 'Rwanda', 'Samoa', 
    'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 
    'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 
    'Singapore', 'Slovak Republic', 'Slovenia', 'Solomon Islands', 
    'Somalia', 'South Africa', 'South Sudan', 'Spain', 
    'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia', 
    'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 
    'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 
    'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 
    'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Turkmenistan', 
    'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 
    'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 
    'Vanuatu', 'Venezuela, RB', 'Viet Nam', 'Yemen, Rep.', 
    'Zambia', 'Zimbabwe'
]

In [77]:
# Filter DataFrame to keep only rows with recognized country names
filtered_df = df_long[df_long['Country Name'].isin(recognized_countries)]

# Optionally reset the index
filtered_df.reset_index(drop=True, inplace=True)

In [78]:
# Filter out indicators with no data
indicators_with_data = filtered_df['Indicator Name'].unique()  # Get all unique indicators
indicators_with_data_count = filtered_df.groupby('Indicator Name')['Value'].count()  # Count non-null values for each indicator

# Find indicators with zero non-null values
indicators_without_data = indicators_with_data_count[indicators_with_data_count == 0].index

# Remove these indicators from the DataFrame
df_filtered1 = filtered_df[~filtered_df['Indicator Name'].isin(indicators_without_data)]

# Show the resulting DataFrame shape
print(df_filtered1.shape)

(356278, 5)

In [79]:

# Optionally, you can save the filtered DataFrame to a new Excel file
df_filtered1.to_excel('filtered_data.xlsx', index=False)

In [53]:
# Step 3: Save the reshaped data to a new file
#output_file = 'reshaped_data.xlsx' 
#df_long.to_excel(output_file, index=False)

#print("Reshaping complete! Data saved to:", output_file)

Reshaping complete! Data saved to: reshaped_data.xlsx